- if(app.status == "success")
	h3 Done!
	p You're ready to start developing :)
	a(href:'/apps/'+ app.name +"/edit", class:'button bluegrad r5 fl') Edit App properties now
	a(href:'#', class:'button yellowgrad r5 fr') I'll do that later
- else 
	h3 Oh Noooo!
	p There was a problem and we couldn't create your app. 
	p Please make sure the information you entered is correct. 
	p If you're absolutely certain that this is what you want, please try again later as we might be experiencing problems creating your app at this time.