table.tree(cellspacing:0, cellpadding:0, border:0)
  thead
    tr
      th domain
      th app name
      th actions
  tbody
    - each appdomain in domainlist
      - var params = ["appname",appdomain.appname,"&","domain",appdomain.appname].join()
      tr
        td #{appdomain.domain}
        td #{appdomain.appname}
        td
          a(href:"/appdomains","data-params":params,rel:"delete") remove