!!!
html
  head
    title= text[route]["title"]
    !=partial('layout/head', {})
  body

  !=partial('layout/header', {})

  != body

  !=partial('layout/footer', {})

  !=partial('layout/scripts', {})