.sidebar
  ul.lnav
    li.first(class:(typeof(applist) != "undefined" ? "active" : ""))
      a(href="/apps",rel="ajaxify_menu",id="my_apps") My Apps
      ul.snav
        li
          a(href="/app/create",rel="modal",class="app_create") Create New App
    li(class:(typeof(domainlist) != "undefined" ? "active" : ""))
      a(href="/appdomains",rel="ajaxify_menu") My Domains