.page#user
	div.headline
		img.gravatar(src: gravatar)
		h2 #{username}
		ul.actions
			li
				a(href:"/users/"+ username +"/edit",class:"button bluegrad r5", title: "edit app properties") edit

	p User info will be added here...