section#apps
	- each app in applist
		- var appStatus = app.running == "true";
		section(class:"app-listing r10")
			hgroup
				h3(class:(appStatus) ? "app-running" : "app-stopped")
					a(href:"/app/"+app.name, title:"click for more details...")#{app.name}
				ul.properties
					li ID: #{app.pid}
					li Port: #{app.port}
			div.git
				p(class:"button bluegrad r5", title:"copy to clipboard") git
				input(type:"text", value: app.gitrepo, readonly:"readonly")