aside#log
	section.status
		h3 Service Status
		// Make dynamic by adding an AJAX call to http://nodester.com/status
		p <strong>Apps hosted:</strong>  1223
		p <strong>Apps running:</strong> 774
	section.links
		h4 Useful Links
		ul
			li 
				a(href:"http://nodejs.org", title:"Node.JS") Node.JS
			li
				a(href:"http://npmjs.org/", title:"Node Package Manager") Node Package Manager
			li
				a(href:"http://git-scm.com/", title:"Git version control") Git Version Control
			li
				a(href:"http://www.iriscouch.com/", title:"IrisCouch DB Hosting") IrisCouch DB Hosting
			li
				a(href:"http://aws.amazon.com/", title:"Amazon Web Services") Amazon Web Services
			li
				a(href:"https://github.com/nodejitsu/node-http-proxy", title:"Node HTTP Proxy") Node HTTP Proxy
			li
				a(href:"https://github.com/remy/nodemon", title:"Nodemon") Nodemon
			li
				a(href:"https://github.com/creationix/couch-client", title:"Couch Client") Couch Client
			li
				a(href:"https://github.com/visionmedia/express", title:"Express") Express
			li
				a(href:"http://jquery.com/", title:"jQuery") jQuery