.page#app
	div.headline
		h2 Edit 
			a(href:'/apps/'+appname) #{appname}
	
	form#app-edit(action:"apps/update")
		label(for:"appname") Application: 
		input(name:"appname", readonly: "readonly", value: appname)
		
		label(for:"adddomain") Domain: 
		input(name:"appdomain", value: "")
		
		fieldset#modules
			!= partial('app/modules', {})
	
	form#app-delete(action:"apps/delete", method:'DEL', class: 'modal')
		input(type:"submit", class:"button redgrad r5", value: "Delete App")