- var appStatus = app.running == "true";
- var appParams = "appname=" + appname + "&running=" + (appStatus ? "false" : "true");
h2 About <strong>#{appname}</strong>
ul.action
	li
		a(href:"/app","data-params":appParams,rel:"put") 
			= appStatus ? "stop" : "start"
	li
		a(href:"/app","data-params":"appname=" + appname + "&running=restart",rel:"put") restart
div.info
	ul(class:"properties")
		li ID: #{app.pid}
		li Port: #{app.port}
	input(type:"text", value: app.gitrepo)