input#module-1(type="checkbox", name="modules", value="express")
label(for: "npm-1") express
input#module-2(type="checkbox", name="modules", value="user-agent")
label(for: "npm-2") user-agent
input#module-3(type="checkbox", name="modules", value="connect-auth")
label(for: "npm-3") connect-auth
input#module-4(type="checkbox", name="modules", value="socket.io")
label(for: "npm-4") socket.io
input#module-5(type="checkbox", name="modules", value="fs")
label(for: "npm-5") fs
input#module-6(type="checkbox", name="modules", value="jade")
label(for: "npm-6") jade
