input#npm-1(type="checkbox", name="module", value="express")
label(for: "npm-1") express
input#npm-2(type="checkbox", name="module", value="user-agent")
label(for: "npm-2") user-agent
input#npm-3(type="checkbox", name="module", value="connect-auth")
label(for: "npm-3") connect-auth
input#npm-4(type="checkbox", name="module", value="socket.io")
label(for: "npm-4") socket.io
input#npm-5(type="checkbox", name="module", value="fs")
label(for: "npm-5") fs
input#npm-6(type="checkbox", name="module", value="jade")
label(for: "npm-6") jade
