h2 Create new app
form.form(method:"post", action:"/app")
  table.table(cellpadding:0,cellspacing:0)
    tr
      td.form_label app name
      td
        input.input.r5#params_appname(name:"params_appname")
    tr
      td.form_label start file
      td
        input.input.r5#params_start(name:"params_start")
  input.submit.r5.bluegrad(value:"create",type:"submit")
  p#failed.msg.r5(style:"display:none; margin-top:10px")
  