footer
	h3 About:
	p This project is work in progress, <br /> kindly file issues/pull requests to 
	a(href='http://github.com/nodester/admin-panel',target="_blank") http://github.com/nodester/admin-panel
	p Special Thanks to the creators of <a target="_blank" href='http://nodester.com'>Nodester.com</a> for this brilliant Platform :)
	p - by <a href="http://twitter.com/michealbenedict" target="_blank">@michealbenedict</a> and <a href="http://twitter.com/tracend" target="_blank">@tracend</a> for <a href="http://twitter.com/nodester" target="_blank">@nodester</a>