- if(is_logged)
	hgroup
		ul
			li.first(class:(typeof(applist) != "undefined" ? "active" : ""))
				a(href="/") Home
			li
				a(href="/logout") Logout
- else
	hgroup
		ul
			li
				a(href="http://nodester.com/") Register
			li
				a((href="http://nodester.com/api.html") API